* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: white;
    --secondary-color: brown;
}

body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    margin: 3rem;
}

h1 {
    font-size: xx-large;
    margin: 2rem;
}

label {
    display: block;
    font-size: large;
    font-weight: 600;
}

input {
    font-size: 14px;
    padding: 0.6rem 1rem;
    outline: #fff;
    border: 2px solid var(--secondary-color);
    margin: 1rem;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 258px;
}

button {
    display: block;
    margin: 1rem auto;
    font-size: x-large;
    border: 2px solid var(--secondary-color);
    padding: 0.3rem 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
}

.output {
    font-size: x-large;
    margin: 2rem 0rem;
}


/* Footer Section */

.footer {
    width: 100%;
    padding-top: 0.5rem;
    text-align: center;
    background-color: var(--primary-color);
    border-top-left-radius: 1rem;
    border: 1px solid var(--secondary-color);
    position: fixed;
    bottom: 0;
}

.social-links {
    margin: 0.5rem;
    padding-inline-start: 0px;
}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
}

.link {
    text-decoration: none;
    padding: 0.5rem 2rem;
    color: var(--secondary-color);
    font-size: x-large;
}

.copyright {
    font-size: 1.2rem;
    padding: 0.5rem;
    margin: 0.7rem 0rem;
    color: var(--secondary-color);
}